body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: beige;
}

h1{
    font-size: 36px;
    color: rgb(7, 7, 143);
    margin-top: 0;
}

p{
    font-size: 20px;
    line-height: 1.5;
    color: rgb(151, 6, 35)
}

.container{
    width: 80%;
    margin: 0 auto;
    background-color: white;
    flex-direction: column;
    display: flex;
    height: 50%;
    text-align: center;
    padding: 20px;
}

@media (max-width: 768px){
    h1{
        font-size: 20px;
    }
    p{
        font-size: 12px;
    }
    .container{
        width: 90%;
        padding: 10px;
    }
}