.error{
    color:red;
    margin:30px;
    font-weight: 6rem;
    opacity: 0;
    transition: opacity 0.5s ease-in;
}

.sucesso{
    color:green;
    margin:30px;
    font-weight: 6rem;
    opacity: 0;
    transition: opacity 0.5s ease-in;
}
.entrada{
    opacity: 1;
}
body{
    background-color: #1E60A6;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#app{
    max-width: 500px;
    margin:0 auto;
    background-color: #e0e0db;
    border-radius: 20px;
    box-shadow: 0 0 10px gray;
    text-align: center;
}

h1{
    margin-top: 0;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

label{
    margin-bottom: 3px;
}

input[type="text"], input[type="password"]{
    padding:10px;
    border-radius: 10px;
    border: none;
    margin-bottom: 10px;
}

button{
    padding: 10px;
    background-color: rgb(56, 57, 55);
    color: #FFFAFA;
    border-radius: 5px;
    cursor:pointer;

}
button:hover{
    background-color: azure;
    color: black;
}
