body{
    width: 100%;
    height: 100%;
    margin: 0 auto;
}
.menu-principal{
    width: 100%;
    background-color: #C7913A;
    height:60px;
}
.tela{
    width: 100%;
    height:600px;
    background-color: #DAD7D7;
}
.menu-inferior{
    width: 100%;
    background-color: #C7913A;
    height:80px;
}
button{
    width: 100px;
    height: 40px;
    font-size: 1rem;
    border: 1px solid #DAD7D7;
    border-radius: 10px;
    background-color:#0B0B59;
    color: #ffffff;
    cursor: pointer;
}/*Fechamento button*/
button.home{
    float:left;
    margin-left: 10px;
    margin-top: 10px;
    text-align: center;
}
button.about{
    float:right;
    margin-right: 10px;
    margin-top: 10px;
    text-align: center;
}
.texto{
    text-align: left;
    font-size: 0,5rem;
    color: #ffffff;
    padding: 10px;
}
button:hover{
    background: #0B0B59;
    color: #fff;
}
button:active{
    background: #356fc2;
    color: #fff;
}