.calculadora{
    position:fixed;
    top:50%;
    left:50%;

    background-color: aqua;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 5rem;
    background-image: linear-gradient(rgb(0,0,0),rgb(255, 255, 255));
    border: 4px solid #ccc;
    border-radius: 4px;
    padding: 20px;
    
}/*Fechamento calculadora*/

.tela{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 3rem;
    width: 90%;
    height: 80px;
    margin-bottom: 20px;
    border: 3px solid #000000;
    padding: 10px;
    border-radius: 4px;
    background-color: #ffffff;
    color: #000000;
}/*Fechamento tela*/

.botao{
    display: flex;
    flex-direction: column;
    align-items: center;
}/*Fechamento botao*/

.linha{
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}/*Fechamento linha*/

.operadores{
    background-color: #39393a;
    color:#ebf5eb;
    border:4px solid #474545;
}/*Fechamento operadores*/

.outros{
    background-color:#1f1e1e;
    color: #ebf5eb;
    border: 4px solid #3c3a3a;
}/*Fechamento outros*/

button{
    width: 50px;
    height: 50px;
    margin: 5px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color:#ccc;
    color: #000000;
    cursor: pointer;
}/*Fechamento button*/

button last-child{
    margin-right: 0;
}

button:hover{
    background: #fff;
    color: #000000;
}
button:active{
    background: #ccc;
}
