body{
    width: 93%;
    height: 100%;
    background-image: linear-gradient(to right, rgb(175, 35, 236), rgb(29, 31, 30));
}
button{
    width: 7%;
    height: 5%;
    background-color: rgb(185, 86, 218);
    color: beige;
    border: 7px black;
    border-radius: 5px;
    margin-left: 3%;

}
button:hover{
    background: #c3bff3;
    color: #000000;
    width: 10%;
    height: 7%;
    transition: width 1s;
    transition: height 1s;
}
button:active{
    background: #e872c8;
    color: beige;
}
h1{
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: beige;
}
a{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: beige;
}
p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: beige;
}